@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap');

body {
  background-color: #131722 !important;
  color: white;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Montserrat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

label , h4 {
  color: white;
}

h2 {
  background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
p {
  font-size: 1.3rem;
  line-height: 1.5;
}
input {
  background-color: transparent !important;
  color: white !important;
}
.navbar {
  z-index: 9999;
  position: fixed;
  background-color: transparent;
}

.title::after {
  content: '';
  position: absolute;
  width: 280px;
  height: 2px;
  background-color: rgba(128, 128, 128, 0.332);
  top: 100%;
}
.title::before {
  content: '';
  position: absolute;
  width: 200px;
  height: 2px;
  background-color: rgba(128, 128, 128, 0.332);
  bottom: 110%;

}
.logout {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  background-color: #0c2738;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(27deg, rgba(0, 208, 255, 0.704) 4%, rgba(0, 238, 255, 0.863) 60%, rgba(19, 78, 148, 1) 100%);
  background-color: rgb(0, 207, 255);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  transition: 50s background-color;
  -webkit-transition: 50s background-color;
  -moz-transition: 50s background-color;
  -ms-transition: 50s background-color;
  -o-transition: 50s background-color;
}