.SwiperSlide {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.layer-slaid {
  background-color: rgba(0, 0, 0, 0.5);
  background: linear-gradient(to top,#131722 , transparent) ;
}

 img {
  border-radius: 20px;

  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

h1 , p , img {
  position: relative;
  z-index: 9999;
}

h1{
  background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
}

@media (min-width: 200px) and (max-width: 1199.98px) {

  .swiper-slide {
    padding-top: 5rem !important;
  }

  .slide-home img {
    width: 50% !important;
  }
  .slide-home h1 {
    font-size: 2rem;
  }
  .slide-home p {
    font-size: 1rem;
  }
  .icons-Nav {
    width: 100%;
  }

}

@media (min-width: 768px) and (max-width: 1199.98px) {
  .slide-home img {
    width: 100% !important;
  }

    .slide-home h1 {
      font-size: 2.5rem;
    }
  
    .slide-home p {
      font-size: 1.5rem;
    }
}